.testee{
	position:fixed;
	top:20px;
	right:20px;
	width:300px;
	padding:20px;
	background:#1f232d;
	border:1px solid #49625D;
	border-radius:12px;
	color:#fff;
	z-index:99999;
}

div[class="testee"]{
	background:red!important;
	color:white!important;
	padding:20px!important;
}

@media(max-width:900px){
.game_cell{flex-direction:column!important;align-items:stretch!important}
.game_thumb{width:100%!important;min-width:0!important;height:220px!important}
.game_cell:after{display:none}
.game_cell_data{height:auto!important;padding:15px 0 0!important}
}



